hr {
  border-top: 3px solid;
}

h2 {
  font-size: 18px;
  font-weight: 400;
}

p {
  font-size: 13px;
}

.main-container {
  padding: 10px 80px 0;
  background: #F7F7F7;
  color: #73879C;
  //height: 100%;
}

.custom-title {
  border-bottom: 2px solid #E6E9ED;
  padding: 1px 5px 6px;
  margin-bottom: 10px;
}
