<div class="main-container">
  <!-- page content -->
  <div class="page-title">
    <div class="title_left">
      <h3>School Dashboard</h3>
    </div>
  </div>
  <div class="clearfix"></div>

  <div class="x_panel">
    <div class="row">
      <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="x_title">
          <h2>Degree Programs</h2>

          <div class="float-right">
            <a ui-sref="add-degree-program">
              <button class="btn btn-primary">Add</button>
            </a>
          </div>
          <div class="clearfix"></div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12">
        <div class="x_content">

          <table class="table table-striped table-bordered">
              <thead>
                <tr>
                  <th>Program Name</th>
                  <th>View</th>
                </tr>
              </thead>
              
              <tbody>
                <tr ng-repeat="degreeProgram in vm.degreePrograms">
                  <td>{{degreeProgram.programName}}</td>
                  <td ><a href="/view-degree-program/{{degreeProgram._id}}"><i class="fa fa-eye"></i></a></td>
                </tr>
              </tbody>
            </table>
       </div>
      </div>
    </div>

  </div>

  <div class="x_panel">
    <div class="row">
      <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="x_title">
          <h2>Recommendation Letter Lookup</h2>

          <div class="clearfix"></div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-5 col-sm-5 col-xs-12 form-group top_search">
        <div class="input-group">
          <input type="text" class="form-control" ng-model="vm.studentSearchName" placeholder="Search for...">
          <span class="input-group-btn">
          <button class="btn btn-default" type="button" ng-click="vm.getStudentsWithRecLetters(vm)">Go!</button>
        </span>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12">
        <div class="x_content">
          <table class="table table-striped table-bordered">
            <thead>
            <tr>
              <th>Student</th>
              <th>Recommender</th>
              <th>Degree Program</th>
              <th>View</th>
            </tr>
            </thead>

            <tbody>
            <tr ng-repeat="student in vm.studentsWithRecLetters">
              <td>{{student.studentName}}</td>
              <td>{{student.recommenderName}}</td>
              <td>{{student.programName}}</td>
              <td><a href="/recletters/view/{{student.letterId}}"><i class="fa fa-eye"></i></a></td>
            </tr>
          </table>
        </div>
      </div>
    </div>
  </div>

</div>
