<div class="main-container">
    <div class="row">
      <div class="col-sm-12">
        <br><br><br>
        <h1>Submit Recommendation Letter</h1>
        <p>Please upload the recommendation letter file in Adobe PDF format. Please also provide answers to the candidate questionnaire</p>
      </div>
      <div class="col-sm-12">
          <form ng-submit="vm.submitRecLetter()" class="question-form">
            <input type="file" ng-click="vm.fileSelectionEvent($event)"  placeholder="Upload file..." />
            <br>
            <br>
            Please make appropriate selections for the applicant
            <br>
            <br>
            <table>
            <tr ng-repeat="candidateQuestion in vm.candidateQuestions">
              <td class="question-cell">{{ candidateQuestion.questionText }}</td>
               <td>
                <table>
                    <tr><br></tr>
                  <tr ng-repeat="responseChoice in candidateQuestion.responseChoices">
                    <td>
                      <input type="radio" name="{{candidateQuestion.questionText}}" value={{responseChoice}} ng-click="vm.radioButtonQuestionResponseEvent($event)" class="flat"/> {{responseChoice}} <br>
                    </td>  
                  </tr>
                </table>
              </td>
            </tr>
            </table>
            <br>
            <input type="submit" class="btn btn-success" value="Submit">
        </form>
        <div class="error-label" ng-if="vm.errorText">{{vm.errorText}}</div>
      </div>
  </div>
  